{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	{% include 'snippets/header.html' %}
	<title>Hostal Doña Clarita</title>
</head>
<body style="background-image: url({% static '/img/test.jpg'%});">
	<div class="main_contenededor">
		{% block contenido %}{% endblock %}
	</div>
	{% include 'snippets/footer.html' %}
</body>

</html>
<!--<div class="main_contenededor poppins">
	<br><br><br><br><br><br>
	<form method="post" class="form-signin aligncenter">
		<h1 class="h3 mb-3 font-weight-normal text-white">Sistema Hostal Doña Clarita.</h1>
		<br><br>
		<h1 class="h3 mb-3 font-weight-normal text-white">Iniciar Sesión.</h1>
		<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo electrónico" required autofocus>
		<br><br>
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
		<button class="btn btn-lg btn-primary btn-block" id="bton_login">Ingresar</button>
	</form>
	<div class="d-flex flex-column">
   		<a class='m-auto text-white' href="#" id="olvidar_pass">¿Ha olvidado su contraseña?</a>
	</div>
</div>-->