{% extends "login.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br><br><br><br>
	<form method="post" class="form-signin aligncenter">
		<h1 class="h3 mb-3 font-weight-normal text-white">Registrar Proveedor</h1>
        <br/><br/>
        {% if registrado %}
            El proveedor ha sido registrado exitosamente

        {% else %}
            <form action="" method=POST>
                {% csrf_token %}

                {{ form.as_p}}

                <input type="submit" value="Registrar" class="btn btn-secondary">
                
            </form>

        {% endif %}  
	</form>
</div>
{% endblock contenido %}