{% extends "login.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br><br><br><br>
	<form method="post" class="form-signin aligncenter">
		<h1 class="h3 mb-3 font-weight-normal text-white">Proveedores</h1>
        <h2>Seleccionelo para ver detalle...</h2>
        <br/><br/>
        {% for proveedor in proveedor_list %}

            <a href="{% url 'show_proveedor' proveedor.IDProveedor %}">{{ proveedor }}</a><br/>

        {% endfor %}
	</form>
</div>
{% endblock contenido %}