{% extends "login.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br><br><br><br>
	<form method="post" class="form-signin aligncenter">
		<h1 class="h3 mb-3 font-weight-normal text-white">Proveedor:</h1>
        <br/><br/>
        <div class="container">
			<div class="row mt-3">
				<div class="col text-white">
                    ID Proveedor: {{ proveedor.IDProveedor }}<br/>
                    Nombre: {{ proveedor.Nombre }}<br/>
                    Dirección: {{ proveedor.Direccion }}<br/>
                    Teléfono: {{ proveedor.Telefono }}<br/>
                    email: {{ proveedor.email }}<br/>
                    Rubro: {{ proveedor.Rubro }}<br/>
                </div>
			</div>
		</div>
	</form>
</div>
{% endblock contenido %}