{% extends "login.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor poppins">
	<br><br><br><br><br><br>
	<form method="post" class="form-signin aligncenter">
		<h1 class="h3 mb-3 font-weight-normal text-white">Proveedor:</h1>
        <br/><br/>
        {{ proveedor.IDProveedor }}<br/>
        {{ proveedor.Nombre }}<br/>
        {{ proveedor.Direccion }}<br/>
        {{ proveedor.Telefono }}<br/>
        {{ proveedor.email }}<br/>
        {{ proveedor.Rubro }}<br/>


	</form>
</div>
{% endblock contenido %}